.order-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.order-field {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 1rem;
}

.order-field > p {
    border-bottom: 1px solid #000;
    font-style: italic;
    text-align: center;
}