.edit-client-form {
    display: flex;
    flex-direction: column;
}

.basic-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.p-field {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
}

.financial-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.important-field {
    color: red;
    font-weight: bold;
    font-size: larger;
    margin: 3px;
}

.add-button {
    margin-top: 1rem;
}