@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eff3f8;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.p-field {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1rem;
    gap: 5rem;
    align-items: center;
}

.important-field {
    color: #E0115F;
    font-weight: bold;
    font-size: larger;
    margin: 3px;
}

.font-bold {
    font-weight: 700 !important;
}

.block {
    display: block !important;
}

.mb-2 {
    margin-bottom: .5rem !important;
}