<form class="product-info-form" [formGroup]="productInfo">
  <div class="p-field">
    <div>
      <label for="name">Product Name</label>
      <span class="important-field">*</span>
    </div>
    <p-autoComplete
      formControlName="productName"
      class="p-autocomplete"
      [suggestions]="productSuggestions"
      (completeMethod)="search($event)"
      (onSelect)="getProductDetails($event)"
    ></p-autoComplete>
  </div>

  <div class="p-field">
    <div>
      <label for="productId">Product ID</label>
      <span class="important-field">*</span>
    </div>
    <input
      type="text"
      id="productId"
      pInputText
      formControlName="productId"
      class="p-inputtext"
    />
  </div>

  <!-- Quantity -->
  <div class="p-field">
    <div>
      <label for="quantity">Product Quantity</label>
      <span class="important-field">*</span>
    </div>
    <p-inputNumber
      inputId="integeronly"
      formControlName="quantity"
    ></p-inputNumber>
  </div>

  <!-- Price -->
  <div class="p-field">
    <div>
      <label for="price">Product Price</label>
      <span class="important-field">*</span>
    </div>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">₹</span>
      <p-inputNumber
        inputId="integeronly"
        formControlName="price"
      ></p-inputNumber>
    </div>
  </div>

  <!-- Description -->
  <div class="p-field">
    <div>
      <label for="description">Product Description</label>
    </div>
    <textarea
      id="description"
      pInputText
      formControlName="description"
      class="p-inputtext"
    ></textarea>
  </div>

  <!-- Category -->
  <div class="p-field">
    <div>
      <label for="category">HSN Code</label>
      <span class="important-field">*</span>
    </div>
    <input
      type="text"
      id="hsnCode"
      pInputText
      formControlName="hsnCode"
      class="p-inputtext"
    />
  </div>

  <p-button
    type="button"
    label="Back"
    styleClass="p-button-secondary p-button-text"
    (onClick)="navigateBack()"
  ></p-button>

  <p-button
    label="Add"
    [disabled]="checkQuantity()"
    styleClass="p-button-outlined"
    (onClick)="addItem()"
    type="button"
  ></p-button>
</form>

<!-- <div class="order-summary"> -->
<div class="order-summary" *ngIf="orderList.length > 0">
  <h2>Order Summary</h2>
  <p-divider></p-divider>
  <div class="order-content">
    <p-table [value]="orderList" [tableStyle]="{ 'min-width': '65rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <tr>
          <td>{{ order.productName }}</td>
          <td>{{ order.quantity }}</td>
          <td><span>₹</span> {{ getPrice(order.quantity, order.price) }}/-</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          <h3>Total</h3>
          <span>₹{{ getTotal() }}/-</span>
        </div>
      </ng-template>
    </p-table>
  </div>

  <p-button
    class="p-button-success"
    label="Checkout"
    (onClick)="proceedToCheckout()"
    [style]="{ 'margin-top': '1rem' }"
  ></p-button>
</div>
