<p-toast></p-toast>
<div class="card p-fluid flex justify-content-center">
  <p-card header="Add Product" [style]="{ 'border-radius': '12px' }">
    <form [formGroup]="productForm!" class="product-form" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <label for="name">Product Name</label>
        <input
          type="text"
          class="p-inputtext"
          id="name"
          pInputText
          formControlName="name"
        />
      </div>
      <div class="p-field">
        <label for="productCode">Product Code/ID</label>
        <input
          type="text"
          class="p-inputtext"
          id="productCode"
          pInputText
          formControlName="productCode"
        />
      </div>
      <div class="p-field">
        <label for="productType">Product Type</label>
        <input
          type="text"
          class="p-inputtext"
          id="productType"
          pInputText
          formControlName="productType"
        />
      </div>
      <div class="p-field">
        <label for="uom">Unit of Measurement (UOM)</label>
        <p-dropdown formControlName="uom" [options]="uom_options" optionLabel="uom"></p-dropdown>
      </div>
      <div class="p-field">
        <label for="taxCategory">Tax Category</label>
        <p-dropdown
          formControlName="taxCategory"
          [options]="tax_options"
          optionLabel="tax"
          [style]="{'width': '16.2rem'}"
        ></p-dropdown>
      </div>
      <div class="p-field">
        <label for="hsnCode">HSN/SAC Code</label>
        <input
          type="text"
          class="p-inputtext"
          id="hsnCode"
          pInputText
          formControlName="hsnCode"
        />
      </div>
      <div class="p-field">
        <label for="price">Price</label>
        <p-inputNumber
          inputId="integeronly"
          mode="decimal"
          [minFractionDigits]="2"
          [maxFractionDigits]="5"
          formControlName="price"
        ></p-inputNumber>
      </div>
      <div class="p-field">
        <label for="quantity">Quantity</label>
        <p-inputNumber
          inputId="integeronly"
          formControlName="quantity"
        ></p-inputNumber>
      </div>
      <div class="p-field">
        <label for="description">Description/Notes</label>
        <textarea
          id="description"
          class="p-inputtext"
          pInputTextarea
          formControlName="description"
        ></textarea>
      </div>
      <div class="p-field">
        <label for="image">Image</label>
        <p-fileUpload
          mode="basic"
          chooseLabel="Choose"
          name="demo[]"
          accept="image/*"
          [maxFileSize]="1000000"
          (onUpload)="onUpload($event)"
        ></p-fileUpload>
      </div>
      <div class="p-field">
        <label for="attributes">Attributes</label>
        <input
          type="text"
          class="p-inputtext"
          id="attributes"
          pInputText
          formControlName="attributes"
        />
      </div>
      <div class="p-field">
        <label for="batchNumber">Batch/Lot Number</label>
        <input
          type="text"
          class="p-inputtext"
          id="batchNumber"
          pInputText
          formControlName="batchNumber"
        />
      </div>
      <div class="p-field">
        <label for="manufacturer">Manufacturer/Supplier Details</label>
        <input
          type="text"
          class="p-inputtext"
          id="manufacturer"
          pInputText
          formControlName="manufacturer"
        />
      </div>
      <div class="add-button">
        <p-button
          type="submit"
          label="Add"
          [style]="{ width: '10rem' }"
        ></p-button>
      </div>
    </form>
  </p-card>

  <p-card header="Product Details" [style]="{ 'border-radius': '12px' }">
    <div class="product-details">
      <!-- Display the submitted product details here -->
      <!-- Example: -->
      <p>Product Name: {{ productForm!.value.name }}</p>
      <p>Product Code/ID: {{ productForm!.value.productCode }}</p>
      <p>Product Type: {{ productForm!.value.productType }}</p>
      <p>Unit of Measurement (UOM): {{ productForm!.value.uom }}</p>
      <p>Tax Category: {{ productForm!.value.taxCategory }}</p>
      <p>HSN/SAC Code: {{ productForm!.value.hsnCode }}</p>
      <p>Price: {{ productForm!.value.price }}</p>
      <p>Quantity: {{ productForm!.value.quantity }}</p>
      <p>Description/Notes: {{ productForm!.value.description }}</p>
      <p>Image: {{ productForm!.value.image }}</p>
      <p>Attributes: {{ productForm!.value.attributes }}</p>
      <p>Batch/Lot Number: {{ productForm!.value.batchNumber }}</p>
      <p>Barcode/QR Code: {{ productForm!.value.barcode }}</p>
      <p>
        Manufacturer/Supplier Details: {{ productForm!.value.manufacturer }}
      </p>
    </div>
  </p-card>
</div>
