.client-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.client-field {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 1rem;
}

.client-field>p {
    border-bottom: 1px solid #000;
    font-style: italic;
    text-align: center;
}

.client-sales {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.yearly,
.monthly,
.weekly {
    margin-right: 1rem;

}

#yearly_canvas,
#monthly_canvas,
#weekly_canvas {
    height: 30rem;

}