<div class="card">
  <p-card header="{{ client?.name }}" [style]="{ 'margin-bottom': '1rem' }">
    <div class="client-details">
      <div class="client-field">
        <h4>Mailing name :</h4>
        {{ client?.mailingName }}
      </div>

      <div class="client-field">
        <h4>Address :</h4>
        {{ client?.address }}
      </div>

      <div class="client-field">
        <h4>Country :</h4>
        {{ client?.country }}
      </div>

      <div class="client-field">
        <h4>State :</h4>
        {{ client?.state }}
      </div>

      <div class="client-field">
        <h4>Pincode :</h4>
        {{ client?.pincode }}
      </div>

      <div class="client-field">
        <h4>Phone number :</h4>
        {{ client?.phoneNo }}
      </div>

      <div class="client-field">
        <h4>Mobile number :</h4>
        {{ client?.mobileNo }}
      </div>

      <div class="client-field">
        <h4>Address :</h4>
        {{ client?.address }}
      </div>

      <div class="client-field">
        <h4>Financial year starting from :</h4>
        {{ client?.financialYearFrom | date : "yyyy-MM-dd" }}
      </div>

      <div class="client-field">
        <h4>Books beginning from :</h4>
        {{ client?.booksBeginningFrom | date : "yyyy-MM-dd" }}
      </div>

      <div class="client-field">
        <h4>Total sales :</h4>
        {{ client?.baseCurrencyInformation.baseCurrencySymbol }}&nbsp;{{
          client?.totalSales
        }}
      </div>
    </div>
  </p-card>

  <div class="client-sales">
    <p-card header="Yearly Sales"
       [style]="{'margin-bottom': '1rem'}"><div class="yearly">
        <canvas id="yearly_canvas"></canvas></div
    ></p-card>

    <p-card header="Monthly Sales" [style]="{'margin-bottom': '1rem'}">
      <div class="monthly">
        <canvas id="monthly_canvas"></canvas>
      </div>
    </p-card>

    <p-card header="Weekly Sales" [style]="{'margin-bottom': '1rem'}">
      <div class="weekly">
        <canvas id="weekly_canvas"></canvas>
      </div>
    </p-card>
  </div>
</div>
