<p-card header="All Orders">
  <div class="card">
    <p-table
      [value]="orders"
      [tableStyle]="{ 'min-width': '50rem' }"
      [scrollable]="true"
      scrollHeight="400px"
      [paginator]="true"
      [rows]="10"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Order Id</th>
          <th>Purchaser</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <tr>
          <td>{{ order.orderNumber }}</td>
          <td>{{ order.customerInfo.name }}</td>
          <td>{{ order.price }}</td>
          <td>{{ order.quantity }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-card>
