<div class="card flex justify-content-center">
  <div class="layout-topbar">
    <a href="/" class="layout-topbar-logo">
      <img src="../../../../assets/logo-dark.svg" alt="SAKAI" />
      <span class="logo-heading">SAKAI</span>
    </a>
    <div class="nav-icons">
      <p-button icon="pi pi-user" [rounded]="true" [text]="true" severity="secondary" size="large"></p-button>
      <p-button icon="pi pi-cog" [rounded]="true" [text]="true" severity="secondary" size="large"></p-button>
    </div>
  </div>
</div>
<div class="layout-menu card flex justify-content-center">
  <p-menu [model]="items" [style]="{ border: 'none', width: '100%' }"></p-menu>
</div>
